# Ignore all object files:

*.o

# Ignore all backup files:

*.~

# Text documents:

*.txt
*.doc
*.docx
*.pdf



# Ignore all executables:

Exercise1/HelloWorld
Exercise2/Exercise2
Exercise3/Exercise3
Exercise4/Exercise4
Exercise4/rockPaperScissors
Exercise5/Exercise5
Exercise5/Exercise5.4
Exercise6/Exercise6
Exercise6/Exercise6.4
Exercise7/Exercise7
Exercise7/Makefile




