# Ignore all object files:

*.o

# Ignore all backup files:

*.~

# Ignore all text documents (hint: add file extensions, if necessary):

*.txt
*.doc
*.docx
*.pdf


# Ignore all executables:

/Exercise1/HelloWorld
/Exercise2/Exercise2




